/** サンプルカラーボックスのサイズ */
.sampleColor {
    width: 1em;
    height: 1em;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    vertical-align:bottom;
}
